// Link
.nuxt-link-exact-active {
  @apply text-sky-500;
}

.nuxt-link-active {
  &:not(.home-router) {
    @apply text-sky-500;
  }
}

// Background auto fill
input:-webkit-autofill {
  -webkit-background-clip: text;
}

// Button
.btn-custom {
  @apply bg-black dark:bg-white text-white dark:text-black px-6 md:px-8 font-medium h-10 md:h-12 hover:opacity-80 capitalize rounded;
  line-height: 150%;
  letter-spacing: 0.1rem;
  transition: all 0.2s ease;
}

.btn-outline-custom {
  @apply dark:text-white text-black border dark:border-white border-black px-6 md:px-8 font-medium h-10 md:h-12 hover:opacity-80 capitalize rounded;
  line-height: 150%;
  letter-spacing: 0.1rem;
  transition: all 0.2s ease;
}

.input-custom {
  @apply shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md h-10 md:h-12;
}
