html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 0.3s;
  @apply bg-white dark:bg-black text-black dark:text-white;

  /* width */
  &::-webkit-scrollbar {
    height: 7px;
    width: 7px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: none;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #a3a3a3;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #d4d4d4;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.c-scrollbar_thumb {
  background: #a3a3a3 !important;

  &:hover {
    background: #d4d4d4 !important;
  }
}
