body {
  font-family: 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans',
    'Yu Gothic',
    'Meiryo',
    sans-serif;
}

a {
  color: $primary;

  &:hover {
    color: $primary;
    text-decoration: none;
  }
}
